<!-- <p>admin-choice works!</p> -->

<app-header></app-header>
<!-- <input type="submit" value="View Users" class="btn btn-primary" routerLink="/users-list" style="width:200px;height:50px;margin-top: 50px;margin-left:70px;font-size: 20px;"><br/>
<input type="submit" value="View Cars" class="btn btn-primary" routerLink="/edit" style="width:200px;height:50px;margin-top: 50px;margin-left:70px;font-size: 20px;"><br/>
<input type="submit" value="View Bikes" class="btn btn-primary" routerLink="/edit-b" style="width:200px;height:50px;margin-top: 50px;margin-left:70px;font-size: 20px;"><br/> -->





<div style="background-color: rgb(243, 243, 244);margin-top:-20px;">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" style="width:400px;height:400px;background-color: blue;margin:20px" >
        <div class="card-body" >
        <img src="./assets/Images/choices/users.jpeg" class="card-img-top"/>
          <input type="submit" value="View Users" class="btn btn-success" routerLink="/users-list" style="width:200px;height:50px;margin-top: 50px;margin-left:100px;font-size: 20px;"><br/>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width:400px;height:400px;background-color: blue;margin:20px" >
          <div class="card-body" >
          <img src="./assets/Images/choices/cars.jpg" class="card-img-top" style="height:380px"/>
            <input type="submit" value="View Cars" class="btn btn-success" routerLink="/edit" style="width:200px;height:50px;margin-top: 50px;margin-left:100px;font-size: 20px;"><br/>
          
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width:400px;height:400px;background-color: blue;margin:20px" >
          <div class="card-body" >
          <img src="./assets/Images/choices/Bikes.jpg" class="card-img-top" style="height:380px"/>
            <input type="submit" value="View Bikes" class="btn btn-success" routerLink="/edit-b" style="width:200px;height:50px;margin-top: 50px;margin-left:100px;font-size: 20px;"><br/>
          
          </div>
        </div>
      </div>
  </div>
</div>