<!-- <p>thank-you works!</p> -->
<!-- <div class="empty" >
    <img src="./assets/Images/choices/rows-of-new-cars-in-dealership.jpeg.jpg" style="width:100%;height:100%">
</div> -->
<!-- <div class="empty" style="background-image: url('./assets/Images/choices/rows-of-new-cars-in-dealership.jpeg.jpg');width:100%;height:100%">
    <img src ="./assets/Images/choices/thank you.webp" style="margin-top:20px">
</div> -->

<div style="background-color: black;height:720px">
    <img src="./assets/Images/choices/thank you.webp" style="margin-top:150px;margin-left:350px"><br/>
    <button routerLink="/user-choice" class="btn btn-primary bth-lg" style="margin-left: 650px;width:200px;height:40px;font-size: 15px">Continue Shopping</button>
</div>