<!-- <app-cars-list></app-cars-list> -->
<!-- <app-register1></app-register1> -->
<!-- <app-users-list></app-users-list> -->
<!-- <app-edit></app-edit> -->
<!-- <app-edit-b></app-edit-b> -->
<!-- <app-add></app-add> -->
<!-- <app-add-bike></app-add-bike> -->
<!-- <app-bikes-list></app-bikes-list> -->
<!-- <app-main></app-main> -->
<!-- <app-user-choice></app-user-choice> -->
<!-- <app-admin-choice></app-admin-choice> -->
<!-- <app-cart></app-cart> -->
<!-- <app-thank-you></app-thank-you> -->
<!-- <app-home></app-home> -->
<!-- <app-payment></app-payment> -->
<router-outlet></router-outlet>
<!-- <app-login1></app-login1> -->
<!-- <app-login2></app-login2> -->
<!-- <app-header></app-header> -->
